
#header{
    background-color: rgb(192, 245, 236);
    font-size: 30px;
  
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:auto;
    
}
.btn{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}
#count-down {
    padding: 20px;
    margin: 20px;
}
#count-up{
    padding: 20px;
    margin: 20px;
}
#reset{
    padding: 20px;
    margin: 20px;
}
.digit{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:auto;
    
}
#digit{
    font-size: 100px;
}